.App {
  justify-content: center;
  text-align: center;
  display: flex;

  .AppContents {
    border: 2px solid brown;
    background-color: darken(beige, 7%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .MainContents {
      width: 350px;
      margin-bottom: 15px;
    }

    .left {
      margin-left: -175px;
    }

    .right {
      margin-left: 145px;
    }

    .buttons {
      position: absolute;
      width: 30px;
      display: inline-block;
      top: 60px;

      button {
        border-radius: 10px;
        height: 70px;
        border: none;
      }

      .moveDays {
        height: 50px;
        background-color: darkgray;
        color: white;

        &:hover {
          background-color: lighten(darkgray, 5%);
        }

        &:active {
          background-color: darken(darkgray, 5%);
        }
      }
    }
  }
}