.App {
  justify-content: center;
  text-align: center;
  display: flex;

  .MainContents {
    width: 300px;
  }

  .buttons {
    position: relative;
    width: 20px;
    display: inline-block;
    top: 80px;

    button {
      height: 50px;
      border: none;
    }

    .moveDays {
      background-color: chocolate;

      &:hover {
        background-color: lighten(chocolate, 5%);
      }
    }
  }
}