.App {
  justify-content: center;
  text-align: center;
  display: flex;

  .MainContents {
    width: 300px;
  }

  .buttons {
    position: relative;
    width: 30px;
    display: inline-block;
    top: 60px;

    button {
      border-radius: 10px;
      height: 70px;
      border: none;
    }

    .moveDays {
      height: 50px;
      background-color: darkgray;
      color: white;

      &:hover {
        background-color: lighten(darkgray, 5%);
      }

      &:active {
        background-color: darken(darkgray, 5%);
      }
    }
  }
}